<ion-header>
  <ion-toolbar>
    <ion-title size="large">Home</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="pendientes" contentId="pendientes">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="en_proceso" contentId="en_proceso">
        <ion-label>En proceso</ion-label>
      </ion-segment-button>
      <ion-segment-button value="terminadas" contentId="terminadas">
        <ion-label>Terminadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-segment-view>
      <ion-segment-content id="pendientes">
        @for (item of pendientes(); track $index) {
          <app-task-card (taskDeleted)="onDelete($event)" (statusChanged)="onStatusChanged($event)" [task]="item"></app-task-card>
        }
      </ion-segment-content>
      <ion-segment-content id="en_proceso">
        @for (item of enProceso(); track $index) {
          <app-task-card (taskDeleted)="onDelete($event)" (statusChanged)="onStatusChanged($event)" [task]="item"></app-task-card>
        }
      </ion-segment-content>
      <ion-segment-content id="terminadas">
        @for (item of terminadas(); track $index) {
          <app-task-card (taskDeleted)="onDelete($event)" (statusChanged)="onStatusChanged($event)" [task]="item"></app-task-card>
        }
      </ion-segment-content>
    </ion-segment-view>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/tasks/add']">
        <ion-icon name="add">

        </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
