<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/tasks/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>{{task()?.title ?? 'undefined'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="info">
      <ion-icon name="information-circle-outline"></ion-icon>    
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="map"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="comments">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
