<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>task-details-info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <h1>{{this.task().title}}</h1>
    </ion-list-header>
    <ion-item lines="none">
      <p>Fecha límite: {{this.task().deadLine | date: 'dd/MM/yyyy'}}</p>
    </ion-item>

    <ion-item lines="none">
      <ion-button color="primary">Modificar</ion-button>
      <ion-button color="danger">Eliminar</ion-button>
    </ion-item>

    

    <ion-item lines="none">
      <ion-select [formField]="this.statusForm" interface="popover" (ionChange)="this.onStatusChange($event)" placeholder="Selecciona el tipo">
        <ion-select-option [value]="0" aria-selected="true">Pendientes</ion-select-option>
        <ion-select-option [value]="1">En proceso</ion-select-option>
        <ion-select-option [value]="2">Terminadas</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      @if(this.auxFilePath()) {
        <ion-img [src]="this.auxFilePath()"></ion-img>
      }
    </ion-item>
    
    <ion-item lines="none">
      <ion-button color="tertiary" (click)="pickFromGallery()">
        <ion-icon name="images" slot="start"></ion-icon>
        Gallery
      </ion-button>
    </ion-item>

    <!--ion-item lines="none">
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" [formField]="taskForm.deadLine" presentation="date"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item-->
  </ion-list>
</ion-content>
