<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="light">
          @if(this.sesion()){ 
            <ion-item color="light">
              <ion-avatar slot="start">
                <ion-img [src]="user()?.avatar"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{user()?.name}}</h2>
                <p>{{user()?.email}}</p>
              </ion-label>
              <ion-button slot="end" fill="clear" size="default"
                style="padding: 0 !important;"
                (click)="this.logOut()"
              >
                <ion-icon slot="icon-only" color="danger" name="log-out-outline"></ion-icon>
              </ion-button>
            </ion-item>
          } @else {
              <ion-buttons>
                <ion-button fill="clear" size="large"
              >
                <ion-icon slot="start" color="primary" ios="log-in-outline" md="log-in-sharp"></ion-icon>
                Iniciar sesion
              </ion-button>
              </ion-buttons>
                        }
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          @for (p of appPages(); track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>  